*, 
*::before, 
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}

body{
    margin: 1rem;
    font-family: sans-serif;
    background-color:black;
    color:white;
}
header{
    text-align: center;
}
h1{
    padding: 1.5em;
}
input{
    margin: 1em;
}

.flex-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.movieGridContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem  auto;
    width: 90%;
    gap: 10px;
}

.movieCard{
    max-width: 200px;
    aspect-ratio: 1/1.5;
}
.movieCard a img{
    width:100%;
}
.hidden {
    display: none !important;
}